# By default, git stores _all_ files, _except_ those in the .gitignore (blacklist).
# However, it is often more convenient to do the opposite, i.e., not to store _any_ files
# except _only_ those declared in the .gitignore (whitelist). This is achieved by ignoring everything (*)
# and using "!" which means "do not ignore this specific pattern".

# We ignore all files (not directories)
*
!*/

# Except for the following
!*.c
!*.h
!*.mk
!*.txt
!Makefile
!.gitignore
!README.md
!build/.gitkeep